body{
	
width: 100%;
margin: 0;
padding: 0;
background-image: url(mountains_trees_snow_covered_peaks_117625_5760x3240.jpg);
background-size:100%;
background-attachment:fixed;
background-repeat:no-repeat;
scrollbar-face-color: #313131;
scrollbar-base-color: #246c9d;
}
.nav-area{
border-radius: 20px;	
position: relative;
padding: 0;
margin:40px 0 0 0; 
background-color:gray;
letter-spacing: 2px;
width: 250px;
font-family:poppins;
font-size: 15px;


}

.nav-area a,
.nav-area a:link,
.nav-area a:visited,
.nav-area a:focus{
color:#fff;
text-decoration: none;
font-weight: bold;


}
.nav-area a:hover{
color:#246c9d;
text-decoration: none;


}

.nav-area > li{
display: block;
text-align: center;

}
.nav-area>li>a{
padding: 40px 18px;
display: block;

}
.nav-area>li:hover a{
color: #fff;

}

.nav-area>li:hover{
background-color: #247c9d;
border-radius: 20px;
}
/*
acomodar cajones
*/
.nav-area>li>.sub-nav{

margin:30px 30px 30px 0;
border-radius: 20px;
list-style:none;
top: 0;
left: 250px;
width: 440px;
min-height: 200px;
min-width: 30%;
text-align:left;
z-index: 99;
overflow: hidden;
opacity: 0;
visibility: hidden;
position: absolute;
padding: 30px 10px;
font-weight: bold;


}
.nav-area>li:hover .sub-nav{
opacity: 1;
visibility: visible;
margin-top: 0;
background:#fff;
border-radius:20px;

}
.nav-area ul li{
	color:#247c9d;
}
.nav-area .sub-menu{
width: 100%;
float: left;
color: #fff;
margin: 0 0 0 15px;


}
.nav-area .sub-menu ul{

	padding: 0;
	margin: 0;

}
.nav-area .sub-menu ul li{
	padding-top:10px;
	list-style: none;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}
.nav-area .sub-menu h3{
font-size: 20px;
padding: 10px 10px;
font-weight: bold;
margin:30px 30px 30px 0;
color: #fff;
background: #313131;

}
.nav-area .sub-menu h4{
	font-size: 16px;
	padding: 10px 10px;
	font-weight: bold;
	margin:30px 30px 30px 0;
	color: #313131;
	

}

.nav-area .sub-menu ul li a{
	display: block;
	padding: 0 0 0px 0
	
}
.nav-area .sub-menu ul li a:hover{
	color:#313131;
}
.nav-area>li>ul li ul,
.nav-area>li>ul li,
.nav-area>li>.sub-nav,
.nav-ara>li>ul,
.nav-ara>li{
-webkit-transition:all 0.8s ease-in-out;
-moz-transition:all 0.8s ease-in-out;
-ms-transition:all 0.8s ease-in-out;
-o-transition:all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;

}

.contenidos
{
	
	overflow-y:auto;

	height:600px;
	position: relative;
	list-style:none;
	top: 0;
	left: 50%;
	width: 600px;
	color:aliceblue;
	border-radius:12px;
	text-align: left;
	padding: 12px;
	background-color:rgba(54, 52, 52, 0.788);
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin:-450px 30px 30px 0;
}


.contenidos:-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.contenidos::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.contenidos::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#555;
	
}	





/*
.padre
{
	
right:0;
left:150px;
height:250px;

}

/*
.contenido
{
width:500px;
height:200px;
margin-top: 200px;
margin: 0 auto;
margin-left: 0 auto;
margin-right: 0 auto;
margin-bottom: 0 auto;
text-align:left;

}



